html,
body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 2em 0 2em 1.5em;
}

.container h3 {
  padding-bottom: 2em;
  text-align: center;
}

.text-content {
  text-align: left;
}

/* Header */
header {
  height: 4em;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  height: 2em;
  display: flex;
  align-items: center;
}

header div img {
  height: 100%;
  width: auto;
}

header div span {
  font-size: 1.2em;
  text-transform: uppercase;
  /*color: #c7c7c7;*/
}

header ul li {
  margin-left: 1em;
  display: inline;
}

header .mobile {
  display: none;
}

/* Main Body */
/* Banner */
.banner {
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner img {
  width: 60%;
  height: auto;
  margin-right: 0.5em;
}

.banner .text-content {
  padding: 2em 1em;
}

.banner .button {
  padding: 0.5em;
  color: white;
  background-color: rgb(74, 74, 74);
  text-align: center;
}

/* Information */
/* Feature Layout */
.feature-layout {
  background-color: rgb(243, 245, 245);
}

.feature-layout h3 {
  padding-top: 2em;
  text-align: center;
}

.feature-layout .content-body {
  display: flex;
}

.content-body .feature {
  width: 60%;
  padding: 2em 1.5em;
}

.content-body .feature img,
.content-body .feature video {
  width: 100%;
  margin-bottom: 2em;
}

.content-body .feature h2 {
  margin: 0 0 1.5em 0;
}

.content-body .feature p {
  margin: 0.5em 0 0 0;
}

.content-body .feature span {
  display: block;
  margin-top: 2em;
}

/* Feature Layout - Column */
.content-body .column {
  width: 40%;
  padding: 1em 0 2em 0;
}

.column-item {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column-item img {
  width: 35%;
  height: auto;
}

.column-item img.mobile {
  display: none;
}

.column-item .text-content {
  padding-left: 1em;
}

.column-item .text-content span {
  margin: 0.5em 0;
}

.column-item .text-content .link {
  color: blue;
}

.column-item .text-content .link:hover {
  text-decoration: underline;
}

.column-item .text-content span {
  display: block;
}

.column-item:hover {
  background-color: rgb(216, 216, 216);
}

/* Course */
.course {
  background-color: rgb(234, 235, 236);
}

.grid {
  padding: 0 4.5em 0 3em;
}

.row {
  display: flex;
}

.row:first-child {
  margin-bottom: 2em;
}

.block {
  background-color: white;
  flex-basis: 532px;
}

.block:nth-child(2n) {
  margin: 0 2em;
}

.block img {
  width: 100%;
  height: auto;
}

.block .text-content {
  padding: 1em;
}

.block .text-content h4 {
  padding-bottom: 1em;
}

.block .text-content h5 {
  padding: 0.5em 0;
}

.block .text-content span {
  padding-bottom: 0.5em;
}

/* Thesis */
/* Uses the feature section as in the information section */

/* Footer */
footer {
  height: 3em;
  padding: 1em 1.5em;
  border-top: 1px solid lightgrey;
  background-color: rgb(243, 245, 245);
  display: flex;
  justify-content: space-between;
}

footer ul li {
  margin-left: 0.75em;
  display: inline;
}


/* Tablet Site */
@media only screen and (max-width: 980px) {

  /* Feature Layout - Information */
  .information .content-body .feature {
    display: none;
  }

  .information .content-body .column {
    width: 100%;
    padding: 1em;
    display: flex;
  }

  /* Feature Layout - Information - Column */
  .information .column-item {
    padding: 0.5em;
    flex-direction: column;
    align-items: baseline;
  }

  .information .column a:hover {
    background-color: rgb(216, 216, 216);
  }

  .information .column-item img.desktop {
    display: none;
  }

  .information .column-item img.mobile {
    width: 100%;
    height: auto;
    display: block;
  }

  .information .column-item .text-content {
    height: auto;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 820px) {

  /* Course */
  .grid {
    padding: 0 1.5em 0 0;
  }

  .row:first-child {
    margin-bottom: 1em;
  }

  .block:nth-child(2n) {
    margin: 0 1em;
  }

  .block .text-content h4 {
    padding: 0;
  }

  .block .text-content h5 {
    display: none;
  }

  .block .text-content span {
    display: none;
  }

  /* Feature Layout - Thesis */
  .thesis .content-body .feature {
    width: 100%;
    padding-bottom: 1.5em;
  }

  .thesis .content-body .feature video {
    margin-bottom: 0;
  }

  .thesis .content-body .column {
    display: none;
  }

  .thesis .feature .text-content {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  /* Header */
  header .desktop {
    display: none;
  }

  header .mobile {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  header .mobile img:first-child {
    display: none;
  }
}
